#Sidebar{
background-color: #1C3B57;
min-height: 100%;
height: 100%;
}

#despliegue{
background-color: #3B3737;
}

#cerrar{
background-color: #682121; 
vertical-align: bottom;
}

#img{
    width: 55%;
}

#btn-toggler{
    visibility: hidden;
    display: none;
}

@media only screen and (max-width: 576px) {
    #img{
        width: 50%;
    }
    #btn-toggler{
        visibility: visible;
        display: block;
    }

    #sbsid01{
        display: none;
    }
}

#sbsid01{
    min-height: 100%;
    height: 100%;
}

@media only screen and (min-width: 577px) {
    #sbsid02{
        display: none;
    }
}

#principal_div_nav{
    min-height: 100%;
    height: 100%;
    background-color: #1C3B57;
}




